---
import ButtonLink from '@components/ButtonLink.astro'
import someImage from '@images/model-1.jpeg'
import Banner from '@layouts/Banner.astro'
import { Image, getImage } from 'astro:assets'
const optimizedBackground = await getImage({ src: someImage })
---
<Banner title='Dallas Photgrapher' description='Dallas Photographer' >

            <div slot="banner-content" style={`background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(${optimizedBackground.src}`}  class={`bg-no-repeat bg-center bg-cover h-full flex flex-col justify-center`}>
            <!-- <div slot="banner-content" class={` bg-black h-full`}> -->
		<div data-rellax-speed="-2" class="rellax mx-auto  max-w-5xl px-8 sm:px-12 lg:px-8 xl:px-16">
			<div class="sm:w-4/5 text-white space-y-6">
				<h1 class="text-3xl font-semibold sm:text-4xl lg:text-5xl lg:leading-snug">A Portrait Photographer based in Lubumbashi.</h1>
				<p class="text-xl ">The person you need to make your portraits successful</p>
				<ButtonLink text='Book Now' />
			</div>
		</div>	
	</div>
	<section class="pt-24 sm:pt-32 lg:pt-20">
		<div data-rellax-speed="-2" class="rellax mx-auto max-w-5xl px-8 sm:px-12 lg:px-8 xl:px-16">
			<div class="sm:w-4/5">
				<h1 class="text-3xl font-semibold text-stone-900 dark:text-white sm:text-4xl lg:text-5xl lg:leading-snug">A Portrait Photographer based in Lubumbashi.</h1>
				<p class="mt-4 text-xl text-stone-600 dark:text-stone-300">The person you need to make your portraits successful</p>
			</div>
		</div>
		<div class="relative mt-14 w-full bg-white px-4 pt-12 dark:bg-stone-950 sm:px-12 lg:px-8">
			<div class="mx-auto grid max-w-7xl gap-4 gap-y-20 sm:grid-cols-5 sm:gap-y-24 md:gap-8 lg:gap-16 lg:gap-y-16">
				<a href="pages/project.html" class="group sm:col-span-full lg:col-span-3">
					<div class="relative h-96 overflow-hidden before:absolute before:inset-0 before:z-[1] before:origin-right before:scale-x-0 before:bg-gradient-to-r before:from-transparent before:via-surface/20 before:to-transparent before:transition before:duration-500 group-hover:before:origin-left group-hover:before:scale-x-100 md:h-[30rem] xl:h-[40rem]">
						<Image data-rellax-speed="6" class="rellax h-max w-full" src={someImage} alt="something" width="1920" height="2821" />
					</div>
					<div class="flex items-center justify-between py-4 text-stone-700 dark:text-stone-100">
						<h2 class="text-lg font-medium duration-300 group-hover:text-primary">Higher Ground School</h2>
						<span class="text-sm">/ 01</span>
					</div>
				</a>
				<a href="pages/project.html" class="group sm:col-span-4 sm:col-start-2 md:pt-8 lg:col-span-2 lg:pt-16">
					<div class="relative before:absolute before:inset-0 before:origin-right before:scale-x-0 before:bg-gradient-to-r before:from-transparent before:via-surface/20 before:to-transparent before:transition before:duration-500 group-hover:before:origin-left group-hover:before:scale-x-100">
						<Image src={someImage} class="w-full object-cover"  alt="project cover" width="1920" height="2688" />
					</div>
					<div class="flex items-center justify-between py-4 text-stone-700 dark:text-stone-100">
						<h2 class="text-lg font-medium duration-300 group-hover:text-primary">Higher Ground School</h2>
						<span class="text-sm">/ 02</span>
					</div>
				</a>
				<a data-rellax-speed="1.5" data-rellax-xs-speed="0" data-rellax-mobile-speed="0" data-rellax-tablet-speed="0" href="pages/project.html" class="rellax group sm:col-span-3 sm:col-start-3 lg:col-span-2">
					<div class="relative before:absolute before:inset-0 before:origin-right before:scale-x-0 before:bg-gradient-to-r before:from-transparent before:via-surface/20 before:to-transparent before:transition before:duration-500 group-hover:before:origin-left group-hover:before:scale-x-100">
						<Image src={someImage} class="w-full object-cover"  alt="project cover" width="1000" height="1500" />
					</div>
					<div class="flex items-center justify-between py-4 text-stone-700 dark:text-stone-100">
						<h2 class="text-lg font-medium duration-300 group-hover:text-primary">Higher Ground School</h2>
						<span class="text-sm">/ 03</span>
					</div>
				</a>
				<a href="pages/project.html" class="group sm:col-span-4 lg:col-span-3 lg:mt-16">
					<div class="relative before:absolute before:inset-0 before:origin-right before:scale-x-0 before:bg-gradient-to-r before:from-transparent before:via-surface/20 before:to-transparent before:transition before:duration-500 group-hover:before:origin-left group-hover:before:scale-x-100">
						<Image src={someImage} class="w-full"  alt="project cover" width="1920" height="2400" />
					</div>
					<div class="flex items-center justify-between py-4 text-stone-700 dark:text-stone-100">
						<h2 class="text-lg font-medium duration-300 group-hover:text-primary">Higher Ground School</h2>
						<span class="text-sm">/ 04</span>
					</div>
				</a>
				<a href="pages/project.html" class="group gap-6 sm:col-span-full lg:mt-16 lg:flex lg:items-end">
					<div class="relative before:absolute before:inset-0 before:origin-right before:scale-x-0 before:bg-gradient-to-r before:from-transparent before:via-surface/20 before:to-transparent before:transition before:duration-500 group-hover:before:origin-left group-hover:before:scale-x-100 lg:w-4/5">
						<Image src={someImage} class="w-full"  alt="project cover" width="1500" height="1000" />
					</div>
					<div class="flex justify-between py-4 text-stone-700 dark:text-stone-100 lg:block lg:space-y-4">
						<span class="text-sm">/ 05</span>
						<h2 class="order-first text-lg font-medium duration-300 group-hover:text-primary">River Slight</h2>
					</div>
				</a>
			</div>
		</div>
	</section>
</Banner>