---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

type Props = {
	title: string;
	description: string;
	image?: string;
	canonical?: string;
	noindex?: boolean;
}
const { title, description, canonical = Astro.url.href, image = '/src/assets/images/dallas-photographer-edwina-debebs.jpeg', noindex } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/Quicksand-Bold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/Quicksand-Light.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/Quicksand-Medium.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/Quicksand-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/Quicksand-SemiBold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/Marcellus-Regular.ttf" as="font" type="font/ttf" crossorigin />

<!-- canonical url -->
{canonical && <link rel="canonical" href={canonical} item-prop="url" />}

<!-- noindex robots -->
{noindex && <meta name="robots" content="noindex,nofollow" />}

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
