
---

type Props = {
  faqs: {
    q: string
    a: string
  }[]
}
const { faqs } = Astro.props
---


<section class="max-w-7xl mx-auto px-5">
    <div class="divide-y divide-gray-900/10">
      <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
     {faqs?.map(({ q, a }, index) => (
              <dl id="faq" class="bg-white rounded-lg space-y-6 divide-y p-3">
                <div>
                  <dt>
                    <button id={`btn-${index}`} data-faq={index} type="button" class="flex w-full justify-between items-start text-left" aria-controls={`answer-${index}`} aria-expanded="false">
                      <span class="text-base leading-7">{q}</span>
                      <span class="flex h-7 items-center">
                        <svg id={`close-${index}`} class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                        </svg>
                        <svg id={`open-${index}`} class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                        </svg>
                      </span>
                    </button>
                  </dt>
                  <dd class="mt-2 pl-10 hidden space-y-5" id={`answer-${index}`}>
                    <p class="text-sm leading-7 text-gray-600">
                      {a}
                    </p>
                 </dd>
                </div>
              </dl>
      ))}
  </div>
</section>

<script>
    const faqs = document.querySelectorAll('#faq');
    faqs.forEach((event, index) => {
  event.addEventListener("click", ()  => {
    const closeIcon = document.getElementById(`close-${index}`), answer = document.getElementById(`answer-${index}`), openIcon = document.getElementById(`open-${index}`);
    const btn = document.getElementById(`btn-${index}`); 
    btn?.toggleAttribute('aria-expanded');
    openIcon?.classList.toggle('hidden');
    closeIcon?.classList.toggle('hidden');
    answer?.classList.toggle('hidden');
  });
});
</script>

