---
import config from 'src/configs/site.json'
import { formatPhoneNumber, isActiveLink } from 'src/utils'
import Socials from './Socials.astro'

const { pathname } = Astro.url
const { navigation, copyright, contact, title } = config

---

	<footer class="p-10 lg:py-32 lg:px-48 bg-stone-800 text-white">
		<div class="grid gap-5 grid-cols-2 md:grid-cols-6">
			<div class="col-span-2 space-y-10">
				<h3 class="italic">{title}</h3>
				<div class=" space-y-3">
					<Socials className="flex space-x-5 items-center [&>li]:w-5" />
					<span class=" text-gray-300 italic text-sm block">{copyright}</span>
				</div>
			</div>
			<div class="col-span-2 space-y-10">
				<h3>Information</h3>
				<div class=" text-gray-300 text-sm space-y-1">
					<a class="block mb-10">Dallas, TX</a>
					<a class="block" href={`mailto:${contact.email}`} set:html={contact.email} />
					<a class="block" href={`tel:${contact.phone}`}>+1 {formatPhoneNumber(contact.phone)}</a>
				</div>
			</div>
			<div class="col-span-2 space-y-10">
				<h3>Useful Links</h3>
				<ul role="list" class="list-none flex flex-col text-sm space-y-1">
					{Object.entries(navigation).map(([name, link]) => {
						const isCurrPage = isActiveLink({ link, pathname }) 
						return <a class:list={[{'opacity-100 font-semibold': isCurrPage, 'opacity-50': !isCurrPage } ]} href={link}>{name}</a>
					})}
				</ul>
			</div>
		</div>	
	</footer>