---

import { navigation } from '@configs/site.json'
import maternity from '@images/maternity-1.jpeg'
import model1 from '@images/model-1.jpeg'
import familyPotrait2 from '@images/family-potrait-2.jpeg'
import { Image } from 'astro:assets'
import ButtonLink from './ButtonLink.astro'

const portfolio = [
{
    title: 'Family Potraits',
    image: {
        src: familyPotrait2,
        alt: 'Dallas photographer Edwina Debebs'
    },
    link: '/'
},
// ,{
//     title: 'Professional Headshots',
//     image: {
//         src: work7,
//         alt: 'professional headshot of a woman' 
//     },
//     link: '/'
// },
{
    title: 'Fashion Shoots',
    image: {
        src: model1,
        alt: 'Fashion photo shoot of a model'
    },
    link: '/'
},{
    title: 'Maternity Shoots',
    image: {
        src: maternity,
        alt: 'Maternity photo shoot of a pregnant woman'
    },
    link: '/'
},
// {
//     title: 'Wedding photo shoots',
//     image: {
//         src: work9,
//         alt: 'Wedding photo shoot of a bride and groom'
//     },
//     link: '/'
// }
]
---


<section class="space-y-10 px-1">
    <ul role="list" class={`list-none gap-1 md:gap-1 grid grid-cols-4 grid-rows-3 h-[90vh]`}>
       {portfolio.map((item, index) => {
        const pos = index + 1
            return <li class={`overflow-hidden area-${pos}`}>
                <div class={`relative group text-white h-full`}>
                    <div class='absolute bottom-0 p-5 w-full flex justify-between items-top z-20 bg-black invisible group-hover:visible group-hover:animate-fade-up bg-opacity-50'>
                        <span>{pos} / {item.title}</span>
                    </div>
                    <Image class:list={['transition-all duration-500 group-hover:scale-125 object-cover h-full']} src={item.image.src} alt={item.image.alt} /> 
                </div>
            </li>
       })} 
    </ul>
<div class=" flex space-x-5 justify-center">
    <ButtonLink href={navigation['Contact us']} black />
    <!-- <ButtonLink href={navigation['About us']} text='See more' className='border-black' /> -->
</div>
</section>


<style>

ul {
    grid-template-areas:
      "family family fashion maternity"
      "family family fashion maternity"
      "family family fashion maternity"
  }

  .area-1 {
    grid-area: family;
  }

  .area-2 {
    grid-area: fashion
  }

  .area-3 {
    grid-area: maternity
  }

  .area-4 {
    grid-area: maternity
  }

  .area-5 {
    grid-area: wedding;
  }

</style>

