---
// components
import FooterLink from "@components/Footer/FooterLink.astro"
import SiteLogo from "@components/SiteLogo/SiteLogo.astro"
import SocialIcon from "@components/SocialIcon/SocialIcon.astro"

// data
import siteData from "@config/siteData.json"

const today = new Date();
---

<footer class="site-container mb-12 mt-10">
  <div class="flex w-full flex-col justify-between gap-4 sm:flex-row">
    <div class="mt-6 flex flex-col items-start gap-4">
      <SiteLogo />

      <div class="flex gap-2">
        <!-- <SocialIcon
          href="https://twitter.com/BowTiedWebReapr"
          icon="tabler-brand-x"
          social="twitter (x)"
        /> -->
        <!-- <SocialIcon
          href="https://twitter.com/BowTiedWebReapr"
          icon="tabler:brand-pinterest"
          social="pinterest"
        /> -->
        <SocialIcon
          href={siteData.socials.instagram}
          icon="tabler:brand-instagram"
          social="instagram"
        />
        <SocialIcon
          href={siteData.socials.facebook}
          icon="tabler:brand-facebook"
          social="facebook"
        />
      </div>

      <div class="hidden w-full text-sm font-light opacity-80 sm:block">
        &copy; {today.getFullYear()}
        {" "}{siteData.name}. All rights reserved.
      </div>
    </div>
    <div
      class="grid grid-cols-2 justify-between gap-4 md:grid-cols-3 md:gap-10"
    >
      <div class="flex flex-col font-light">
        <h3 class="footer__heading">Information</h3>
        <p>{siteData.address.city}, {siteData.address.state.abbreviation}</p>
        <a href={`mailto:${siteData.contact.email}`}>{siteData.contact.email}</p>
        <a href={`tel:${siteData.contact.phoneNumber}`}>{siteData.contact.phoneNumber}</a>
      </div>

      <!-- Navigation -->
      <div class="flex flex-col">
        <h3 class="footer__heading">Navigation</h3>
        <FooterLink href="/blog/">Blog</FooterLink>
        <FooterLink href="/categories/">Categories</FooterLink>
        <FooterLink href="/tags/">Tags</FooterLink>
        <FooterLink href="/contact/">Contact</FooterLink>
      </div>

      <!-- Legal -->
      <div class="flex flex-col">
        <h3 class="footer__heading">Legal</h3>
        <FooterLink href={"/privacy-policy"} newTab={true}>
          Privacy policy
        </FooterLink>
      </div>
    </div>
  </div>
  <div class="mt-6 text-sm font-light opacity-80 sm:hidden">
    &copy; {today.getFullYear()}
    {" "}{siteData.name}. All rights reserved.
  </div>
</footer>

<style>
  .footer__heading {
    @apply mb-2 mt-6 border-b-2 border-accent uppercase;
  }
</style>
