---
import BaseHead from '@components/BaseHead.astro'
import BookNowBanner from '@components/BookNowBanner.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import HoneyBookForm from '@components/HoneyBookForm.astro'
import '../styles/style.css'

type Props = {
    title: string;
    description: string;
    image?: string;
    noindex?: boolean;
    canonical?: string;
}

const { title, description, image, noindex, canonical } =
  Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} image={image} noindex={noindex} canonical={canonical} description={description} />
	</head>
	<body class="">
        <div class=" h-[50vh] md:h-[85vh] flex items-stretch flex-col mb-20">
		    <Header />
            <slot name="banner-content" />
        </div>
        <main class="space-y-40 mb-40">
            <slot />
        </main>
        <BookNowBanner />
        <HoneyBookForm />
		<Footer />
	</body>
</html>
