---
import BaseHead from '@components/BaseHead.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import '../styles/style.css'

type Props = {
    metaTitle: string;
    metaDescription: string;
    image?: string;
    noindex?: boolean;
    canonical?: string;
}

const { metaTitle, metaDescription, image, noindex, canonical } =
  Astro.props;
---

<html lang="en">
	<head>
		<BaseHead metaTitle={metaTitle} image={image} noindex={noindex} canonical={canonical} metaDescription={metaDescription} />
	</head>
	<body class="grid min-h-screen grid-rows-[auto_1fr_auto]">
		<Header />
        <main>
            <slot />
        </main>
		<Footer />
	</body>
</html>
